SERVER_PORT=6543
SECRET_KEY=1f3ebe27-3ad7-46e6-a077-44237bebcb6a
MONGODB_URI=mongodb://jhon-the-baptist:ABC123@localhost:27017/
MONGODB_DATABASE=garden-of-eden
RESEND_API_KEY=d2cfedc6-239c-4557-a12e-132578034111
